<div class="container py-5">
  <div class="row pt-5 g-3">
    <div class="col-12">
      <h4 class="fw-medium">Auto Approve Page | អ្នកលក់ Page Auto Approve</h4>
      <p>Trusted partners around the world.</p>
    </div>
    <div class="col-12 col-md-4" *ngFor="let partner of listResellersAutoApprovePage || []">
      <app-partner [partner]="partner"></app-partner>
    </div>
  </div>
</div>

<div class="block-yl">
  <div class="container py-5">
    <div class="row g-3">
      <div class="col-12">
        <h4 class="fw-medium">Page Follow | អ្នកលក់សេវាកម្មចាក់ Follow Page</h4>
        <p>Trusted partners around the world.</p>
      </div>
      <div class="col-12 col-md-4" *ngFor="let partner of listResellersFollowPage || []">
        <app-partner [partner]="partner"></app-partner>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-3 py-5">
    <div class="col-12">
      <h4 class="fw-medium">Page Full Setup | អ្នកលក់ Page Full Setup</h4>
      <p>Trusted partners around the world.</p>
    </div>
    <div class="col-12 col-md-4" *ngFor="let partner of listResellersFullSetupPage || []">
      <app-partner [partner]="partner"></app-partner>
    </div>
  </div>
</div>

<div class="block-yl">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h4 class="fw-medium">Follow Bots | Bot ទិញ follow</h4>
        <p>Everything you need to know to start and grow your own online business.</p>
      </div>
      <div class="col-12">
        <app-table [list]="listBots"></app-table>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <h4 class="fw-medium">Facebook Group Buy/Sell | Facebook Group ទិញ/លក់</h4>
      <p>Everything you need to know to start and grow your own online business.</p>
    </div>
    <div class="col-12">
      <app-table [list]="listGroups"></app-table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <h4 class="fw-medium">Boost Account For Sale | អ្នកលក់ Account សម្រាប់ Boost</h4>
      <p>Everything you need to know to start and grow your own online business.</p>
    </div>
    <div class="col-12">
      <app-table [list]="listSellAccountBoost"></app-table>
    </div>
  </div>
</div>

<div class="block-yl">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h4 class="fw-medium">Hotmail For Sale | Website លក់ Hotmail</h4>
        <p>Everything you need to know to start and grow your own online business.</p>
      </div>
      <div class="col-12">
        <app-table [list]="listSellMail"></app-table>
      </div>
    </div>
  </div>
</div>
