<div class="container py-5">
  <div class="row pt-5 g-3">
    <div class="col-12">
      <h4 class="fw-medium"><i class="bi bi-award-fill me-2 text-danger"></i><span class="fw-semibold">Auto Approve Page</span> | អ្នកលក់ <span class="fw-semibold">Page Auto Approve</span></h4>
      <p>Trusted partners around the world.</p>
    </div>
    <div class="col-12 col-md-4" *ngFor="let partner of listResellersAutoApprovePage || []">
      <app-partner [partner]="partner"></app-partner>
    </div>
  </div>
</div>

<div class="block-yl">
  <div class="container py-5">
    <div class="row g-3">
      <div class="col-12">
        <h4 class="fw-medium"><i class="bi bi-award-fill me-2 text-danger"></i><span class="fw-semibold">Page Follow</span> | អ្នកលក់សេវាកម្មចាក់ <span class="fw-semibold">Follow Page</span></h4>
        <p>Trusted partners around the world.</p>
      </div>
      <div class="col-12 col-md-4" *ngFor="let partner of listResellersFollowPage || []">
        <app-partner [partner]="partner"></app-partner>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-3 py-5">
    <div class="col-12">
      <h4 class="fw-medium"><i class="bi bi-award-fill me-2 text-danger"></i><span class="fw-semibold">Page Full Setup</span> | អ្នកលក់ <span class="fw-semibold">Page Full Setup</span></h4>
      <p>Trusted partners around the world.</p>
    </div>
    <div class="col-12 col-md-4" *ngFor="let partner of listResellersFullSetupPage || []">
      <app-partner [partner]="partner"></app-partner>
    </div>
  </div>
</div>

<div class="block-yl">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h4 class="fw-medium"><i class="bi bi-award-fill me-2 text-danger"></i><span class="fw-semibold">Follow Bots</span> | <span class="fw-semibold">Bots</span> សម្រាប់ទិញ <span class="fw-semibold">Follow</span></h4>
        <p>Everything you need to know to start and grow your own online business.</p>
      </div>
      <div class="col-12">
        <app-table [list]="listBots"></app-table>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <h4 class="fw-medium"><i class="bi bi-award-fill me-2 text-danger"></i><span class="fw-semibold">Facebook Group Buy/Sell</span> | <span class="fw-semibold">Facebook Group</span> ទិញ/លក់</h4>
      <p>Everything you need to know to start and grow your own online business.</p>
    </div>
    <div class="col-12">
      <app-table [list]="listGroups"></app-table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row py-5">
    <div class="col-12">
      <h4 class="fw-medium"><i class="bi bi-award-fill me-2 text-danger"></i><span class="fw-semibold">Boost Account For Sale</span> | អ្នកលក់ <span class="fw-semibold">Account</span> សម្រាប់ <span class="fw-semibold">Boost</span></h4>
      <p>Everything you need to know to start and grow your own online business.</p>
    </div>
    <div class="col-12">
      <app-table [list]="listSellAccountBoost"></app-table>
    </div>
  </div>
</div>

<div class="block-yl">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h4 class="fw-medium"><i class="bi bi-award-fill me-2 text-danger"></i><span class="fw-semibold">Hotmail For Sale</span> | <span class="fw-semibold">Website</span> លក់ <span class="fw-semibold">Hotmail</span></h4>
        <p>Everything you need to know to start and grow your own online business.</p>
      </div>
      <div class="col-12">
        <app-table [list]="listSellMail"></app-table>
      </div>
    </div>
  </div>
</div>
