<div class="container py-5">
  <div class="row g-3 py-5 my-5">
    <div class="col-12">
      <h3 class="fw-medium mb-3">About Me | អំពីខ្ញុំ</h3>
    </div>
    <div class="col-12 col-md-4">
      <div class="card p-3 shadow-sm">
        <img src="assets/image/IMG_7076.JPG" class="rounded-1" width="auto" height="100%" alt="">
      </div>
    </div>
    <div class="col-12 col-md-8">
      <p>ខ្ញុំបាទឈ្មោះ យឿន កាលីន មានទីកន្លែងកំណើតនៅ ភូមិចុងកោះ ឃុំកោះដាច់ ស្រុកមុខកំពូល ខេត្តកណ្ដាល។ សព្វថ្ងៃមានទីលំនៅបច្បុន្ន ភូមិចុងកោះ សង្កាត់កោះដាច់ ខណ្ឌជ្រោយចង្វារ រាជធានីភ្នំពេញ ដែលកំពុងបំពេញភារៈកិច្ចរកលុយតាមប្រព័ន្ធអនឡានមួយកន្លែងដែលមានទៅស្នាក់ការនៅជ្រោយចង្វារ។
        ខ្ញុំបាទជាកូនបងដែលមានបងប្អូន២នាក់ ហើយកើតចេញពីគ្រួសារក្រីក្រ។ ដឹងក្ដីអាយុ ១០ឆ្នាំខ្ញុំបានដើរលក់នំជួយចិញ្ចឹមគ្រួសារ ម្ដាយជាអ្នកតប្បាញ ចំណែកឪពុកគាត់ជាប់ភារៈកិច្ចការជាទាហាន។</p>
      <ul class="list-group list-group-flush ps-0">
        <li class="list-group-item bg-transparent">អាយុ ១៧ ឆ្នាំខ្ញុំបានឈប់រៀនថ្នាក់ទី ១១</li>
        <li class="list-group-item bg-transparent">អាយុ ១៨ ឆ្នាំខ្ញុំទៅធ្វើការរត់តុនៅភោជនីដ្ឋានថ្មដា</li>
        <li class="list-group-item bg-transparent">អាយុ ១៩ ឆ្នាំខ្ញុំបានទៅធ្វើសំណង់ក្នុងបុរីមួយកន្លែងនៅក្រុងតាខ្មៅ</li>
        <li class="list-group-item bg-transparent">ឆ្នាំ ២០១៨ ខ្ញុំបានធ្វើជាអ្នកបញ្ចូលបទភ្លេង</li>
        <li class="list-group-item bg-transparent">ឆ្នាំ ២០១៩ ធ្វើជាងទូរស័ព្វ ក្នុងឆ្នាំ ២០១៩ ខ្ញុំបានយកចំណេះដែលខ្ញុំបានរៀនពីមុនមក បើកជាមជ្ឈមណ្ឌលបង្រៀនកុំព្យូទ័រនៅឯផ្ទះខ្លួនឯង</li>
        <li class="list-group-item bg-transparent">ឆ្នាំ ២០២០ ខ្ញុំបានចាប់ផ្ដើមស្រាវជ្រោវទៅលើប្រព័ន្ធបចេ្ចកវិទ្យាមួយចំនួន នឹងស្រាវជ្រោវ ការរកលុយតាមប្រព័ន្ធអនឡាញ។ គ្រានោះខ្ញុំចេះប៊ូសផេក ហើយខ្ញុំបានប៊ូសផេកលក់អីវាន់មួយចំនួន នឹងបានទទួលកាន់ផេកឲ្យភ្ញៀវខ្លះៗ</li>
        <li class="list-group-item bg-transparent">ឆ្នាំ ២០២១ ខ្ញុំបានចាប់ផ្ដើមប៊ូសផេក ទិញលក់ផេក សេវាកម្មផ្សេងៗតាមរយៈហ្វ៊េសប៉ុកផ្សេងៗជាច្រើនទៀត</li>
        <li class="list-group-item bg-transparent">ឆ្នាំ ២០២២ ខ្ញុំរកមុខរបរដូច ២០២០ ២០២១ ព្រមទាំងធ្វើ Facebook Ad-Breaks ដល់បច្បុន្ន</li>
      </ul>
      <p>សូមអរគុណ។</p>
    </div>
    <div class="col-12 col-md-6">
      <p>My name is YOEUN KALIN. My born place is Koh dach Commune, Kondal province. I am currently living in Jong
        Koh village, Sangkat Koh dach, Chroy Chongwar District, Phnom Penh. I am online earning money from Facebook
        ads-break. Which take place in Chroy Chongva District.
        I have 2 sibling. And I am the older brother. I was born in family that not rich so I need to try hard to help
        my mom and dad as much as I can do. In 10 years old when I am back from school I sell some rice cake and small
        candy near my house and Also take it to sell in school.
      </p>
      <ul class="list-group list-group-flush ps-0">
        <li class="list-group-item bg-transparent">In 17 years old I quit school.</li>
        <li class="list-group-item bg-transparent">In 18 years old I work in a restaurant as a waitress.</li>
        <li class="list-group-item bg-transparent">In 19 years old I work as a construction worker.</li>
        <li class="list-group-item bg-transparent">In 2018 I found myself that I love music service so I start to open a small business that relate to music.
        </li>
        <li class="list-group-item bg-transparent">In 2019 I start learning to fix phone and my hard working help me to grow a lot stronger so in the same year
          I can open school which is teach student to improve computer skill class in my hometown.
        </li>
        <li class="list-group-item bg-transparent">In 2020 I start to have interest on network that can help everyone to earn money from online so I work hard
          on it. Also research and try to understand it more and more . Yes it’s really help me a lot. Not too long I
          can boost page, sell product online, I even have service that manage to look after page that some people
          seller online want too.
        </li>
        <li class="list-group-item bg-transparent">In 2021 I have service about page a lot like buy or sell page for online seller service and have more
          service that relate to online earning money.
        </li>
        <li class="list-group-item bg-transparent">In 2022 I surprise to find my new-self that I love to earning money from online so my currently job is ads
          break earning money from Facebook. I really love this job so much.
        </li>
      </ul>
      <p>Thank you!</p>
    </div>
    <div class="col-12 col-md-6">
      <div class="card p-3 shadow-sm mb-3">
        <img src="assets/image/IMG_7079.JPG" class="rounded-1" width="auto" height="100%" alt="">
      </div>
      <div class="card p-3 shadow-sm bg-secondary">
        <img src="assets/image/certificate.jpg" class="rounded-1" width="auto" height="100%" alt="">
      </div>
    </div>
    <div class="col-12">
      <div class="card p-3 shadow-sm">
        <img src="assets/image/banner.png" class="rounded-1" width="auto" height="100%" alt="">
      </div>
    </div>
  </div>
</div>
