/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bayon&family=Inter:wght@400;500;600;700&display=swap');
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", Roboto, "Bayon", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
button, .mat-flat-button, mat-card {
  font-family: "Inter", Roboto, "Bayon", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
.block-yl {
  background: #fcda69;
  color: #18171c;
}
.mat-card-title {
  font-size: 18px;
}
.star-gold {
  color: goldenrod;
}
