<mat-card>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Quality</th>
      <th>Website</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i of list">
      <td>{{i.name}}</td>
      <td>{{i.skill1}}</td>
      <td>
        <ng-container *ngFor="let s of getRange(i.rating)">
          <i class="bi bi-star-fill"></i>
        </ng-container>
      </td>
      <td>
        <a [href]="i.link" target="_blank">Visit</a>
      </td>
    </tr>
    </tbody>
  </table>
</mat-card>
